@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
bg{
    color: rgb(12, 28, 243);
}
@theme{
    --font-family: 'Poppins', sans-serif;
}
/* .skillset{
    .plfk{
        flex-basis: 45%;
    }
    .fedev{
        flex-basis: 45%;
    }
    .bedev{
        flex-basis: 45%;
    }
} */
.edu{
    .ad{
        flex-basis: 45%;
    }
    .mern{
        flex-basis: 45%;
    }
    .sslc{
        flex-basis: 45%;
    }
    .hsc{
        flex-basis: 45%;
    }
}